.navbar .container-fluid a{
    text-decoration: none;
}

.navbar .container-fluid .navbar-branch{
    color: white;
}

section .table-responsive .product-table{
    width: 85%;
    font-size: 18px;
    margin: 0 auto;
}
section .table-responsive .product-table td{
    width: 200px;
}
.section .table-responsive .product-table tbody tr .name{
    width: 300px !important;
}
.fa-shopping-bag{
    font-size: 2.5rem;
    margin-top: 8px;
}
.fa-address-card{
    font-size: 2.5rem;
    margin-top: 8px;
}
.product_list{
    width: 85%;
}
.col-md-3 .card{
    margin-bottom: 20px;
}
.footer-address p{
    width: 85%;
    margin: 0 auto;
}
.message-lable{
    margin: 20px 0px 20px 0px;
    background: #25557E;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}
.img-new{
    width: 25%;
    position: absolute;
    z-index: 999;
    top: 1px;
    right: 0px;
    border-radius: 50%;
}
.contact-icone{
    margin: 0;
    padding: 0;
    position: fixed;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    list-style: none;
    font-size: 1.5rem;
    transition: 0.5s;
}
.carousel-product{
    height: 400px;
    background-color: #39035B;
}
.carousel-inner-product{
    line-height: 400px;
}

.img-fluid-product{
    width: 300px !important;
    height: 250px !important;
    margin-right: 15.5px !important;
}

.slides-product{
    width: 70%; 
    text-align: center;
    width: 85%;
    margin: 0 auto;
    height: 20px;
    padding: 2px;
}
.message-danger{
    width: 85%;
    margin-top: 10px;
    line-height: 5px;
    transition: 0.5s;
}
.mr-0{
    margin: 0;
    padding: 0;
    list-style: none;
}
.caterory{
    color:#a68dd6;
}
.bg-list li{
    background-color: rgba(82, 66, 117, 0.8);
    color: white;
    transition: 0.5s;
}
.bg-list li:hover{
    opacity: 0.7;
    font-weight: bold;
}
.product-detail{
    width: 95%;
}
.imageDeatil{
    margin: 0;
    padding: 0;
    list-style: none;
}
.category-list{
    text-decoration: none !important;
    color: white !important;
    display: block;
}